<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Підключаємо стилі Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">
<h1>Вкажіть ваші критерії для підбору ноутбуку</h1>
<form id="laptopForm">

    <div class="form-group">
        <label>Для чого вам потрібний ноутбук?</label><br>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Graphic Design" name="work" value="Graphic Design">
            <label class="form-check-label" for="Graphic Design">Graphic Design</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Office Work" name="work" value="Office Work">
            <label class="form-check-label" for="Office Work">Office Work</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Gaming" name="work" value="Gaming">
            <label class="form-check-label" for="Gaming">Gaming</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Software Development" name="work"
                   value="Software Development">
            <label class="form-check-label" for="Software Development">Software Development</label>
        </div>
    </div>

    <div class="form-group">
        <label>Який бюджет розглядаєте до покупки?</label><br>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="High" name="price" value="High">
            <label class="form-check-label" for="High">High</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Medium" name="price" value="Medium">
            <label class="form-check-label" for="Medium">Medium</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Low" name="price" value="Low">
            <label class="form-check-label" for="Low">Low</label>
        </div>
    </div>

    <div class="form-group">
        <label>Який екран має бути у ноутбуку в дюймах?</label><br>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="13" name="screen" value="13">
            <label class="form-check-label" for="13">13</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="15" name="screen" value="15">
            <label class="form-check-label" for="15">15</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="17" name="screen" value="17">
            <label class="form-check-label" for="17">17</label>
        </div>
    </div>

    <div class="form-group">
        <label>Вага ноутбуку?</label><br>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Light" name="weight" value="Light">
            <label class="form-check-label" for="Light">Light</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Medium1" name="weight" value="Medium">
            <label class="form-check-label" for="Medium">Medium</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Heavy" name="weight" value="Heavy">
            <label class="form-check-label" for="Heavy">Heavy</label>
        </div>
    </div>
    <div class="form-group">
        <label>Який бренд ноутбуку бажаєте?</label><br>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Dell" name="brand" value="Dell">
            <label class="form-check-label" for="Dell">Dell</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="HP" name="brand" value="HP">
            <label class="form-check-label" for="HP">HP</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Lenovo" name="brand" value="Lenovo">
            <label class="form-check-label" for="Lenovo">Lenovo</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Asus" name="brand" value="Asus">
            <label class="form-check-label" for="Asus">Asus</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Acer" name="weight" value="Acer">
            <label class="form-check-label" for="Acer">Acer</label>
        </div>
    </div>

    <button type="button" class="btn btn-primary" onclick="submitForm()">Відправити</button>

    <!-- Блок для вставки результату -->

    <div id="result">
        {% if laptop %}
        <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Ваш рекомендований ноутбук!</h1>
                        <label class="card-text lead">{{ laptop }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endif %}
    </div>


</form>

<!-- Підключаємо скрипти Bootstrap JavaScript (Popper.js і Bootstrap JS) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function submitForm() {
    var formData = {
        work: document.querySelector('input[name="work"]:checked').value,
        price: document.querySelector('input[name="price"]:checked').value,
        screen: document.querySelector('input[name="screen"]:checked').value,
        weight: document.querySelector('input[name="weight"]:checked').value,
        brand: document.querySelector('input[name="brand"]:checked').value
    };

    fetch('/submit/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    })
    .then(response => response.json())
    .then(data => {
        // Оновлюємо контент на сторінці з отриманими даними
        document.getElementById('result').innerHTML = "Recommended Laptop: " + data.laptop;
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
</script>

<!-- Підключаємо скрипти Bootstrap JavaScript (Popper.js і Bootstrap JS) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
